* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #083b4c;
}

.block-container {
    gap: 1rem;
}

.block {
    display: flex;
    width: calc((100% / 7) - 1rem);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    color: black;
}